body {
  font-family: "Open Sans";
}

.content {
  margin-left: 200px;
  padding-left: 20px;
}
.content h1 {
  margin: 0 auto;
  text-align: center;
}
.content form table {
  margin-left: auto;
  margin-right: auto;
}
.content form label {
  display: block;
  text-align: center;
}
.content form input {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.content form select {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.content form button {
  display: block;
  margin: 0 auto;
}

.table-pages button {
  display: block;
  margin: 0 auto;
}

.header {
  padding: 20px;
  text-align: center;
  background: #76246c;
  color: white;
  font-size: 30px;
}

.view h1 {
  text-align: center;
}
.view p {
  text-align: center;
}
.view button {
  display: block;
  margin: 0 auto;
}

.btn-primary {
  background-color: #76246c;
}

.btn-primary:hover {
  background-color: #301934;
}

.btn-primary:active {
  background-color: #76246c;
  box-shadow: #301934;
}

btn-primary:focus {
  background-color: #76246c;
  box-shadow: #301934;
}

.search {
  text-align: center;
}

.sidebar {
  width: 200px;
  background-color: #76246c;
  position: fixed;
  overflow: auto;
  box-shadow: 5px 10px 18px black;
}

.sidebar a {
  display: flex;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: #ffffff;
}

.sidebar a:hover:not(.active) {
  background-color: #301934;
  color: #ffffff;
}
