.content {
  margin-left: 200px;
  padding-left: 20px;
}

.sidebar {
  padding: 0;
  width: 200px;
  background-color: #00008B;
  position: fixed;
  height: auto;
  overflow: auto;
}

.sidebar a {
  display: flex;
  padding: 10px;
}
